<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	
	<title>Comments</title>
	</head>
	
<body>

	<div class="container">

		<h3>Comments</h3>
		<hr>
		

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Author</th>
					<th>Comment</th>
				</tr>
			</thead>

		
			</tbody>
		</table>

	</div>
</body>
</html>



